parte_1_momentaneo.parquet
parte_1.parquet
texas_review.csv
bussines_transformado.csv
california_reviex.csv
google_etl_terminado.parquet
google_review_estados_parte_1.parquet
google_review_terminado.parquet
parte_1_google_comercios.parquet
primera_parte_google_comercios.parquet
scraping.ipynb
scrappigfastgoodporestado.csv
texas_review.parquet
california_review.csv
california_review.parquet
scrappigfastfoodporestado.csv
README.md
new.csv
news -.csv









